/* Imports of fonts */

@font-face {
    font-family: 'benedict';
    src: url(font/Benedict\ Regular.otf);
}


/* Imports of fonts */

@font-face {
    font-family: 'gotham condensed';
    src: url(font/GothamCondensed-Medium.otf);
}


/* Link decoration type */

a {
    text-decoration: none;
}


/* Overall body */

body {
    background-image: url("images_badminton/top_img.png");
    /*background image*/
    /* Fitting of the background image */
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0%;
    width: 100%;
}


/* Cards that are needed for all pages */

.card {
    position: relative;
    overflow: hidden;
    margin: 9%;
    margin-left: 10%;
    margin-right: 10%;
}


/* Size and adjustments on the card image */

.card img {
    height: 100%;
    width: 100%;
    display: block;
    transition: transform 0.5s;
}


/* The content on the card  */

.cover {
    height: 0;
    width: 100%;
    /* Positioning it so it's underneath */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    bottom: 0;
    /* Color fixing */
    background: linear-gradient(transparent, #003768 60%);
    padding: 180px 0px;
    padding-bottom: 0px;
    text-align: center;
    color: white;
    /* Positioning where the content will be */
    transition: height 0.5s;
    background-position: center top;
    margin-bottom: -50px;
}


/* How much the card will transform */

.card:hover img {
    transform: scale(1.2);
}


/* The height at which the card will be when hovered */

.card:hover .cover {
    height: 130%;
}


/* The cover link inside the boxes */

.cover a {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    /* Colouring of the text */
    color: #003768;
    background: white;
    /* Giving it a boarder */
    border-radius: 50px;
    text-align: center;
    padding: 15px 15px;
}


/* The way the card will be laied out */

.card_row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 91%;
    padding-left: 5%;
}


/* Footer for all pages */

footer {
    background-color: #003768;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}


/* This is focusing on the text on the footer */

.footer {
    color: white;
    font-size: 23px;
    font-family: 'Oleo Script', system-ui;
}


/* Styling for the table */

table {
    border-collapse: collapse;
    width: 80%;
    margin: 10px auto 0;
    font-size: 1.5rem;
    border-radius: 10px;
}


/* How the table will be shaped and the lines across */

table th,
table td {
    border: 1px solid black;
    padding: 20px 10px;
}


/* How the logo will be placed */

.nav-logo {
    padding: 1%;
}


/* Overll styling for h1 */

h1 {
    text-align: right;
    padding-right: 15%;
    margin-top: 5%;
}


/* This is the styling for first span or the first word  */

h1 span:first-child {
    font-family: 'benedict';
    font-size: 15vw;
    color: #003768;
    font-weight: 100;
}


/* This is the styling for second span or the second word  */

h1 span:last-child {
    font-family: 'gotham condensed';
    font-size: 100px;
    position: relative;
    top: -100px;
    left: 80px;
    color: #ffc425;
}


/* This is the underline for the navigation depending on 
which page users are on */

.underline {
    text-decoration: underline;
}


/* Styling for the home items */

.home-item1 {
    display: flex;
    align-items: center;
    /* Items are aligned in center*/
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    max-width: 1200px;
    /* Adjust width as needed */
    margin: 10px auto;
    /* Center the cards */
    background-image: url(images_badminton/home_background.png);
    background-repeat: no-repeat;
    background-size: 300px 100%;
}


/* Styling for items */

.item {
    display: flex;
    align-items: center;
    /* Items are aligned in center*/
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    max-width: 1200px;
    /* Adjust width as needed */
    margin: 10px auto;
}


/* The title of the small boxes */

.box_title {
    font-size: 40px;
    margin: 0;
}


/* Fixing the layout of the content in the box */

.box_content {
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
}


/* Styling for h2 */

h2 {
    text-align: center;
    font-size: 70px;
    font-family: 'EB Garamond';
    color: #003768;
    margin: 0;
    margin-top: 30px;
}


/* Styling for h3 */

h3 {
    text-align: center;
    font-size: 45px;
    font-family: 'EB Garamond';
}


/* Fitting the h3 into the page. No extra gap */

.h3_score {
    margin: auto;
}


/* Styling for h4 */

h4 {
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}


/* Aligning and chaning font size for p */

p {
    text-align: center;
    font-size: 29px;
}


/* Fixing the way it's laid out */

.general_rule {
    margin: 6%;
    margin-top: 0;
}


/* Fixing positioning and size of image */

img.content_img {
    width: 500px;
    padding: 3%;
}


/* Fixing positioning of the cards */

.submenu-item1,
.submenu-item2 {
    display: flex;
    align-items: center;
    /* Align items in the center */
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    max-width: 1200px;
    /* Adjust width as needed */
    margin: 10px auto;
    /* Center the cards */
}


/* Fixind the layout for content2 */

.location_content2 {
    padding-top: 8px;
}


/* Styling for the content */

.rules_content {
    flex: 2;
    margin: 5%;
    text-align: center;
    background-image: url(images_badminton/background.png);
    /*background image*/
    /* Fixing the styling for background image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
}


/* Styling for the location content */

.location_content {
    flex: 2;
    margin: 4%;
    padding: 8%;
    text-align: center;
    background-image: url(images_badminton/background.png);
    /*background image*/
    /* Fixing the styling for background image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
}


/* Styling for the score content */

.score_content {
    flex: 2;
    margin: 4%;
    padding: 8%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
}


/* The layout of the sections */

.score-item1,
.score-item2 {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    /* fixing the size of the section */
    padding: 20px;
    max-width: 1200px;
    margin: 10px auto;
    background-image: url(images_badminton/score_background.png);
    /*background image*/
    /* Fixing the styling for background image */
    background-size: 70%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}


/* Styling for scores */

.scores {
    background-image: url(images_badminton/score_background.png);
    background-size: 60%, 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 100px;
}


/* Fixing the position of the ul links */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}


/* Fixing the positioning */

.navbar {
    margin: auto;
    padding: 0.5rem 1.5rem;
}


/* Layout of the nav-container */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /* Styling of font */
    font-size: 200%;
    font-family: 'Oleo Script', system-ui;
}


/* The way the links will be spaced out */

.nav-links-container {
    padding: 16px 0;
}


/* No list styling for nav-links */

.nav-links {
    list-style: none;
}


/* Styling for the nav-link-items, making them in a good position */

.nav-links>.nav-link-items {
    display: inline-block;
    margin: 0 80px;
    position: relative;
}


/* How the links styling will look like */

.nav-links>.nav-link-items>a {
    /* Making text colour white */
    color: white;
    display: flex;
    /* Changing the spacings around it */
    padding: 16px 0;
    font-weight: 500;
    align-items: center;
}


/* Allowing hover effect to game navigation */

.nav-links .nav-link-items a:hover span {
    text-decoration: underline;
    /* Only underline the text */
}


/* Styling for the dropdown  */

.nav-link-items>a>.fa-chevron-down {
    display: inline-block;
    height: 35px;
    width: 40px;
    margin-left: 10px;
    transition: 0.3s ease;
    pointer-events: none;
}


/* How the arrow will turn when hovered */

.nav-link-items:hover>a>.fa-chevron-down {
    transform: rotate(-180deg);
}


/* The text decorations of the arrow*/

a .fa-chevron-down {
    text-decoration: none;
}


/* Styling for the submenu  */

.nav-links>.nav-link-items>.dropdown-menu {
    width: 200px;
    position: absolute;
    /* Fixing the positioning  */
    top: 80%;
    left: -16px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transform: translateY(0);
    transition: 0.3s ease;
    /* Having it hidden at the moment */
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* The styling when games have been hovered */

.nav-links>.nav-link-items:hover>.dropdown-menu {
    transform: translateY(8px);
    /* Making it visible when it's been hovered */
    visibility: visible;
    opacity: 1;
}


/* Making sure there is no list styling */

.nav-links>.nav-link-items>.dropdown-menu>.dropdown-menu-item {
    list-style: none;
}


/* Styling for dropdown menu */

.nav-links>.nav-link-items>.dropdown-menu>.dropdown-menu-item>a {
    /* No text decoration for submenu */
    text-decoration: none;
    display: block;
    /* Colouring of the text */
    color: #003768;
    font-weight: 500;
    transition: 0.3s ease;
    padding: 16px;
}


/* How the submenu will change when it's being hovered */

.nav-links>.nav-link-items>.dropdown-menu>.dropdown-menu-item>a:hover {
    color: #fff;
    background-color: #003768;
}


/* The background under the navigation when responsive*/

.nav-container .background {
    position: fixed;
    z-index: 998;
    background-color: #00000071;
    left: 0;
    top: 0;
    /* layout of the background */
    height: 100%;
    width: 100%;
    /* hidding the details first */
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in;
}


/* Open menu not being shown yet */

.nav-container .open-menu {
    display: none;
    /* styling for open menu */
    font-size: 24px;
    color: #003768;
}


/* Close menu not being shown yet */

.nav-container .close-menu {
    display: none;
    /* styling for close menu */
    font-size: 24px;
    color: #fff;
}


/* The styling and functions when the screen reaches 1250px */

@media screen and (max-width: 1250px) {
    body {
        background-size: 100%;
    }
    /* Changing the placing by a bit by changing padding */
    .nav-container {
        padding: 0 2rem;
        padding-top: 1%;
    }
    /* Shows the box with the navigation items when burger when is clicked */
    .nav-container .nav-links-container {
        /* making sure that it's not displayed just yet */
        display: none;
        position: absolute;
        visibility: hidden;
        /* Changing the sizing of the box */
        width: 400px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        /* colour of background */
        background-color: #003768;
        z-index: 999;
        padding: 15px;
        transition: all 0.3s ease-in;
    }
    /* Shows the css when buger menu is clicked */
    .nav-container .nav-links-container.open {
        /* displaying the box with navigation links */
        display: block;
        /* allowing it to be seen now when its opened */
        visibility: visible;
        transition: all 0.3s ease-out;
        right: 0;
    }
    /* Styling for the navigation items  */
    .nav-links-container>.nav-links>.nav-link-items {
        display: block;
        margin: 0;
    }
    /* Changing the positioning of the navigation links */
    .nav-links-container>.nav-links>.nav-link-items>a {
        color: #fff;
        padding: 24px 26px;
        border-bottom: 1px solid #ffffff20;
        display: flex;
        /* creating space next to the items */
        justify-content: space-between;
    }
    /* When it hovers from the burger menu the arrow should not rotate */
    .nav-link-items:hover>a>.fa-chevron-down {
        transform: rotate(0);
    }
    /* When the arrow down has been clicked, it will rotate at -180deg */
    .nav-container>.nav-links-container>.nav-links>.dropdown-menu-branch.active>a .fa-chevron-down {
        transform: rotate(-180deg);
    }
    /* Making the background appear when burger menu is on display */
    .nav-container .background.active {
        visibility: visible;
        opacity: 1;
        transition: 0.3s ease-out;
    }
    /* This is for the items when it's in burger menu */
    .nav-links>.nav-link-items>.dropdown-menu {
        width: 100%;
        position: relative;
        /* chaning the intensity */
        opacity: 1;
        visibility: visible;
        border-radius: 0;
        border-bottom: 1px solid #ffffff20;
        background-color: transparent;
        transform: translateY(0px);
        box-shadow: none;
        padding: 0px;
        left: auto;
        max-height: 0;
        overflow: hidden;
    }
    .nav-links>.nav-link-items:hover>.dropdown-menu {
        transform: translateY(0px);
    }
    /* How submenu will look like when the dropdown menu have been clicked */
    .nav-links>.nav-link-items>.dropdown-menu>.dropdown-menu-item>a {
        color: #ffffff21;
        border: none;
    }
    /* Styling of submenu when it's being hovered */
    .nav-links>.nav-link-items>.dropdown-menu>.dropdown-menu-item>a:hover {
        color: #fff;
    }
    /* Focusing on opening on burger menu */
    .nav-container .open-menu {
        cursor: pointer;
        display: block;
    }
    /* Focusing on closing on burger menu */
    .nav-container .close-menu {
        display: block;
        padding: 16px;
        cursor: pointer;
        width: fit-content;
    }
    /* Changing the sizing when screen decreases */
    .nav-logo {
        padding: 0%;
        width: 300px;
        height: auto;
    }
    /* Chaning the sizing for card_img */
    .card_img {
        width: 100%;
    }
    /* Changing the way how home-item1 will look */
    .home-item1 {
        flex-direction: column-reverse;
        align-items: center;
        background-size: 260px 50%;
        background-position-y: 415px;
        /* both margin left and right are the same, keeping it in middle*/
        margin-left: 15%;
        margin-right: 15%;
    }
    /* The way submenu-item2 will be displayed */
    .submenu-item2 {
        flex-direction: column-reverse;
        align-items: center;
    }
    /* The way submenu-item1 will be displayed */
    .submenu-item1 {
        flex-direction: column;
        align-items: center;
    }
    /* The way rules_content will be displayed */
    .rules_content {
        text-align: center;
        /* Chaning the positioning  */
        padding: 10px;
        max-width: 100%;
        margin: 0px;
        /* Changing background size */
        background-size: 395px, 30%;
        padding-left: 10%;
        padding-right: 10%;
    }
    /* Aligning the table_title */
    .table_title {
        text-align: center;
    }
    .score_table thead {
        /* Not displaying anything */
        display: none;
    }
    /* Making it into a block */
    .score_table tr,
    .score_table td {
        display: block;
    }
    /* At each section the line will be split using this */
    .score_table tr:not(:last-child) {
        border-bottom: 5px solid #003768;
    }
    /* Chaning the positioning */
    .score_table td {
        padding-left: 54%;
        position: relative;
    }
    /* Changing the styling and positions inside */
    .score_table td::before {
        position: absolute;
        padding: 5px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 45%;
        content: attr(data-col-title);
        font-weight: bold;
        background-color: #f3f6fa;
    }
    /* Changing the way h1 will look */
    h1 {
        text-align: right;
        margin-top: 0%;
        padding-right: 15%;
    }
    /* Decrasing the font to a suitable size for first word of the title */
    h1 span:first-child {
        font-size: 14vw;
    }
    /* Decrasing the font to a suitable size for second word of the title */
    h1 span:last-child {
        font-size: 9vw;
    }
    /* Fixing the sizing and positioning */
    .location_content {
        margin: 4%;
        padding: 8%;
        background-size: 50%, 100%;
    }
    /* Changing how items will be displayed in smaller sreen */
    .item {
        flex-direction: column-reverse;
        align-items: center;
    }
    /* Changing how card_row will be displayed in smaller sreen */
    .card_row {
        display: flex;
        /* Making it into a colum so it's no bunched up */
        flex-direction: column;
        align-items: center;
        /* Changing the size to suit the look */
        width: 500px;
        height: 50%;
        margin: auto;
        padding: 0;
    }
    /* The styling for score-item1 when screen decreases */
    .score-item1 {
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px;
        max-width: 1200px;
        margin: 10px auto;
        background-image: none;
    }
    /* The styling for score-item2 when screen decreases */
    .score-item2 {
        flex-direction: column-reverse;
        /* Removing background image */
        background-image: none;
    }
    /* Changing the background for score_content */
    .score_content {
        /* Fixing and adjusting for the background image */
        background-image: url(images_badminton/score_background.png);
        background-size: 100%, 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .scores {
        /* Removing the background image */
        background-image: none;
    }
    /* Changing the sizing of the games navigation area */
    .nav-links .nav-link-items a .fa-chevron-down {
        pointer-events: none;
        width: 0px;
    }
    /* Changing the padding on the right for games link */
    span.hover {
        padding-right: 25px;
    }
}


/* The styling when the screen decreasees even further */

@media screen and (max-width: 1000px) {
    /* Making the nav-logo size even smaller than before */
    .nav-logo {
        padding: 0%;
        width: 200px;
        height: auto;
    }
    /* Changing the styling for h1 to be smaller */
    h1 {
        text-align: right;
        padding-right: 15%;
        margin-bottom: 35%;
    }
    /* Making the first word on title to be smaller */
    h1 span:first-child {
        font-size: 11vw;
        position: absolute;
        top: 83x;
        right: 18%;
    }
    /* Making the second part on title to be smaller */
    h1 span:last-child {
        font-size: 6vw;
        position: absolute;
        top: 100px;
        right: 10%;
    }
    /* Adjusting the sizing of the content_img */
    img.content_img {
        width: 470px;
        text-align: center;
    }
    /* Changing the background size to be smaller */
    .location_content {
        background-size: 50%, 100%;
    }
}


/* The styling when the screen decreasees even further */

@media screen and (max-width: 550px) {
    /* Making the background image to be smaller so image can fit */
    .location_content {
        background-size: 80%, 100%;
    }
    /* Fixing the background image of the yellow person on home page */
    .home-item1 {
        background-size: 250px 40%;
    }
}